<li class="list-group-item">
    <input class="form-check-input" type="checkbox" 
    [checked]="state.done" 
    (change)="notifyDoneChange()">
    @if (state.done) {
        <label [class]="textClass()">
            &nbsp;<del>{{transformedDate()}} | {{state.title}}</del>&nbsp;
        </label>
    } @else {
        <label [class]="textClass()">
            &nbsp;{{transformedDate()}} | {{state.title}}&nbsp;
        </label>
    }&nbsp;
    <button type="button" class="btn" (click)="notifyDeleteClick()">
        <span class="bi-trash"></span>
    </button>
</li>