<li class="list-group-item">
    <input class="form-check-input" type="checkbox" 
    [checked]="state.done" 
    (change)="notifyDoneChange()">
    @if (state.done) {
        <label class="form-check-label text-secondary">
            <del>{{state.title}}</del>
        </label>
    } @else if (isOverdue(state.due)) {
        <label class="form-check-label text-danger">{{state.title}}</label>
    } @else {
        <label class="form-check-label text-primary">{{state.title}}</label>
    }&nbsp;
    <button type="button" class="btn" (click)="notifyDeleteClick()">
        <span class="bi-trash"></span>
    </button>
</li>