@page "/"
<div id="container">
@for(byte row=0; row<Game.board.GetLength(0); row++)
{
    <div class="row">
    @for(byte col=0; col<Game.board.GetLength(1); col++)
    {
        <div class="grid @determineClass(row, col)"></div>
    }
    </div>
}
</div>
<input id="control-capture" type="text" tabindex="0" @ref="controlRef" @onkeydown="evt => HandleKeyPress(evt)" 
value="you shouldn't see me" style="opacity: 0;">
<style>
    .grid {
        width: 1vh;
        height: 1vw;
        min-width: 50px;
        min-height: 50px;
        border-width: 2px;
        border: 1px solid grey;
    }
    .grid-empty {
        background-color: black;
    }
    .grid-shape {
        background-color: yellow;
    }
</style>

@inject IJSRuntime JSRuntime
@inject TetrisGame Game
@implements IObserver<int[,]>
@code
{
    ElementReference? controlRef;

    async Task HandleKeyPress(KeyboardEventArgs args) 
    {
        await JSRuntime.InvokeVoidAsync("BlazorExtensions.PreventDefault", args);

        switch(args.Key) {
            case "s": Game.HandleControl(KeyCommand.Down); break;
            case "a": Game.HandleControl(KeyCommand.Left); break;
            case "d": Game.HandleControl(KeyCommand.Right); break;
            case "q": Game.HandleControl(KeyCommand.RotateLeft); break;
            case "e": Game.HandleControl(KeyCommand.RotateRight); break;
        }
    }
    private async Task FocusContainer()
    {
        Console.WriteLine($"FocusContainer");
        await JSRuntime.InvokeVoidAsync("BlazorExtensions.FocusElement", controlRef);
    }
    string determineClass(int row, int col)
    {
        if (Game.board[row, col] == TetrisGame.EmptyCell) return "grid-empty";
        return "grid-shape";
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await FocusContainer();
    }
    protected override void OnInitialized()
    {
        ResetGame();
    }
    void ResetGame()
    {
        Game.Subscribe(this);
        _ = Game.Start();
    }
    public void OnNext(int[,] board) 
    {
        StateHasChanged();
    }
    public void OnCompleted() 
    {
        Game.Unsubcribe(this);
        Game.Dispose();
        _ = JSRuntime.InvokeVoidAsync("alert", "Game Over");
    }
    public void OnError(Exception e) { Console.WriteLine(e); }
}