<todo-input-group (onEdit)="onSubmit($event)">
    <div class="input-group-text">
        <input type="checkbox" id="cbkShowDone" class="form-check-input" 
        [checked]="showDone" (change)="toggleShowDone()"
        >&nbsp;
        <label for="cbkShowDone" i18n i18n-title="title meaning|title description"
        title="Show done?">Show Done?</label>
    </div>
    <div class="input-group-text">
        <label i18n>
            {todoService.count(), plural, =0 {None} =1 {One todo} other {{{todoService.count()}} todos}}
        </label>
    </div>
</todo-input-group>

<ul class="list-group">
@for (todo of todos; track todo.id) {
    @if (!todo.done || showDone) {
    <todo-item [state]=todo 
    (onDoneChange)="todoService.updateDone($event)"
    (onDeleteClick)="todoService.delete($event)"
    (onEdit)="todoService.update($event)"
    >
    </todo-item>
    }
} @empty {
    <li class="list-group-item">
        There is no todo left, create one.
    </li>
}
</ul>

<div style="display: flexbox;">
    <button type="button" (click)="onBackClick()">Back to Not Found</button>
</div>