<input type="checkbox" id="cbkShowDone" class="form-check-input me-1" 
    [checked]="showDone" (change)="toggleShowDone()"
>
<label for="cbkShowDone" title="Show done?">Show Done?</label>
<ul class="list-group">
    @for (todo of todos; track todo.id) {
        @if (!todo.done || showDone) {
            <todo-item [state]=todo 
                (onDoneChange)="updateDone($event)"
                (onDeleteClick)="removeTodo($event)">
            </todo-item>
        }
    } @empty {
        There is no todo left, create one.
    }
</ul>
<div>{{debug}}</div>